<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Product Management System using half thymleaf and half datatale jquey framwork</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>

</head>
<body>

<div class="container my-2">
    <h1 class="text-center">Product List</h1>

    <div class="d-flex justify-content-center">
        <button type="button" class="btn btn-success btn-sm mb-3" data-toggle="modal" data-target="#addModal">
            <i class="fa fa-user-plus"></i>
            Add New Product
        </button>
    </div>


    <table id="myTable" border="1"  class="display table table-striped table-responsive-md" style="width:100%">
        <thead>
        <tr>
            <th>Product Id</th>
            <th>Name</th>
            <th>Brand</th>
            <th>Made In</th>
            <th>Price</th>
            <th>Detail</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        </thead>
<!--        <tbody>
        <tr th:each="product : ${listProducts}">
            <td th:text="${product.id}"></td>
            <td th:text="${product.name}"></td>
            <td th:text="${product.brand}"></td>
            <td th:text="${product.madein}"></td>
            <td th:text="${product.price}"></td>
            <td>
                <a th:href="@{/view/{id}(id=${product.id})}" class="btn btn-success btn-sm "><i class="fa fa-address-card"></i> View Details</a>
            </td>
            <td>
                <a th:href="@{/edit/{id}(id=${product.id})}" class="btn btn-primary btn-sm "><i class="fa fa-edit"></i> Update</a>
            </td>
            <td>
                <a th:href="@{/delete/{id}(id=${product.id})}" class="btn btn-danger btn-sm "><i class="fa fa-trash"></i> Delete</a>
            </td>
        </tr>
        </tbody>-->
        <tfoot>
        <tr>
            <th>Product Id</th>
            <th>Name</th>
            <th>Brand</th>
            <th>Made In</th>
            <th>Price</th>
            <th>Detail</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        </tfoot>
    </table>

    <!-- The Add Modal -->
    <div class="modal fade" id="addModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <form method="post" id="addFrom">
                    <div class="modal-header">
                        <h4 class="modal-title">Add Product</h4>
                        <button type="button" class="close" data-dismiss="modal" areia-hidden="true">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <!--          <div class="form-group">
                                    <label>Product Id</label>
                                    <input type="text" class="form-control"
                                           required="required" name="id">

                                  </div>-->
                        <div class="form-group">
                            <label>Product name</label>
                            <input type="text" class="form-control"
                                   required="required" id="name" name="name">

                        </div>
                        <div class="form-group">
                            <label>Product Brand</label>
                            <input type="text" class="form-control"
                                   required="required" id="brand" name="brand">

                        </div>
                        <div class="form-group">
                            <label>Product Made In</label>
                            <input type="text" class="form-control"
                                   required="required" id="madein" name="madein">

                        </div>
                        <div class="form-group">
                            <label>Product price</label>
                            <input type="text" class="form-control"
                                   required="required" id="price" name="price">

                        </div>
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <input type="button" class="btn btn-secondary" data-dismiss="modal" value="Cancel">
                        <input type="submit" name="add" id="add" class="btn btn-success"  value="Add">
                        <!--<a id="saveBtn" class="btn btn-success" >Add</a>-->
                    </div>
                </form>
            </div>
        </div>
    </div>





    <!-- The update/Edit Modal -->
    <div class="modal fade" id="editModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <form method="post" id="editFrom">
                    <div class="modal-header">
                        <h4 class="modal-title">Edit Product</h4>
                        <button type="button" class="close" data-dismiss="modal" areia-hidden="true">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <div class="form-group">
                            <label>Product Id</label>
                            <input type="text" readonly class="form-control"
                                   required="required" id="eid" name="eid">

                        </div>
                        <div class="form-group">
                            <label>Product name</label>
                            <input type="text" class="form-control"
                                   required="required" id="ename" name="ename">

                        </div>
                        <div class="form-group">
                            <label>Product Brand</label>
                            <input type="text" class="form-control"
                                   required="required" id="ebrand" name="ebrand">

                        </div>
                        <div class="form-group">
                            <label>Product Made In</label>
                            <input type="text" class="form-control"
                                   required="required" id="emadein" name="emadein">

                        </div>
                        <div class="form-group">
                            <label>Product price</label>
                            <input type="text" class="form-control"
                                   required="required" id="eprice" name="eprice">

                        </div>
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <input type="button" class="btn btn-secondary" data-dismiss="modal" value="Cancel">
                        <input type="submit" name="edit" id="edit" class="btn btn-success"  value="Edit">
                        <!--<a id="saveBtn" class="btn btn-success" >Add</a>-->
                    </div>
                </form>
            </div>
        </div>
    </div>



    <!-- The Delete Modal -->
    <div class="modal fade" id="deleteModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <form  id="deleteFrom">
                    <div class="modal-header">
                        <h4 class="modal-title">Delete Product</h4>
                        <button type="button" class="close" data-dismiss="modal" areia-hidden="true">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <div class="form-group">

                            <input type="hidden"  class="form-control"
                                   required="required" id="delete_id" name="id">

                        </div>
                        <p>Are you sure you wish to remove this product?</p>

                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <input type="button" class="btn btn-secondary" data-dismiss="modal" value="Cancel">
                        <input type="submit" name="delete" id="delete" class="btn btn-success"  value="Delete">
                        <!--<a id="saveBtn" class="btn btn-success" >Add</a>-->
                    </div>
                </form>
            </div>
        </div>
    </div>


    <!-- The view Modal -->
    <div class="modal fade" id="viewModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->

                <div class="modal-header bg-success">
                    <h4 class="modal-title">Product Detail</h4>
                    <button type="button" class="close" data-dismiss="modal" areia-hidden="true">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-4"><p>Product Id </p></div>
                        <div class="col-sm-1"><p>:</p></div>
                        <div class="col-sm-7"><p id="vid"></p></div>

                    </div>
                    <div class="row">
                        <div class="col-sm-4"><p>Product Name </p></div>
                        <div class="col-sm-1"><p>:</p></div>
                        <div class="col-sm-7"><p id="vname"></p></div>

                    </div>
                    <div class="row">
                        <div class="col-sm-4"><p>Product brand </p></div>
                        <div class="col-sm-1"><p>:</p></div>
                        <div class="col-sm-7"><p id="vbrand"></p></div>

                    </div>
                    <div class="row">
                        <div class="col-sm-4"><p>Product Made In </p></div>
                        <div class="col-sm-1"><p>:</p></div>
                        <div class="col-sm-7"><p id="vmadein"></p></div>

                    </div>
                    <div class="row">
                        <div class="col-sm-4"><p>Product Price </p></div>
                        <div class="col-sm-1"><p>:</p></div>
                        <div class="col-sm-7"><p id="vprice"></p></div>

                    </div>

                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <input type="button" class="btn btn-secondary" data-dismiss="modal" value="Cancel">
                </div>

            </div>
        </div>
    </div>

</div>
<script src="/js/notify.js"></script>
<script>
    $(document).ready( function () {
    $('#myTable').DataTable({


		"ajax": {
			"type": "GET",
			"url": '/products',
			"contentType": 'application/json; charset=utf-8',
			"dataSrc": "",
		},

		"columns": [{
				"data": "id"
			},
			{
				"data": "name"
			},
			{
				"data": "brand"
			},
			{
				"data": "madein"
			},
			{
				"data": "price"
			},
			{

			   data: null,
			   className: "dt-center ",
			   defaultContent: '<i class="fa fa-id-address-card" style="color:OliveDrab;"/>',
			   orderable: false,
			   render: (data, type, row) => {
					//return '<button type="button" class="btn btn-sm btn-default" id="viewBtn"  data-toggle="modal" data-target="#viewModal"><i class="fa fa-address-card" title="User Detail" style="color:OliveDrab;"/></button>';
					return '<a href="/view/home/' + row.id + '"   data-id="' + row.id + '"   data-name="' + row.name + '"   data-brand="' + row.brand + '"  data-madein="' + row.madein + '" data-price="' + row.price + '"   class="btn btn-default btn-sm " id="viewBtn"  data-toggle="modal" data-target="#viewModal"><i class="fa fa-address-card" title="User Detail" style="color:OliveDrab;"/></a>';
			   }

			},
			{
				data: null,
				className: "dt-center editor-edit",
				defaultContent: '<i class="fa fa-pencil" style="color:OliveDrab;"/>',
				orderable: false,
				render: (data, type, row) => {
					//return '<button type="button" class="btn btn-sm btn-default" id="editBtn"  data-toggle="modal" data-target="#editModal"><i class="fa fa-edit" title="Edit" style="color:OliveDrab;"/></button>';
					return '<a href="/edit/home/' + row.id + '" data-id="' + row.id + '"   data-name="' + row.name + '"   data-brand="' + row.brand + '"  data-madein="' + row.madein + '" data-price="' + row.price + '" class="btn btn-default btn-sm " id="editBtn"  data-toggle="modal" data-target="#editModal"><i class="fa fa-edit" title="Edit" style="color:OliveDrab;"/></a>';
				}
			},
			{
				data: null,
				className: "dt-center editor-delete",
				defaultContent: '<i class="fa fa-trash" style="color:red;"/>',
				orderable: false,
				render: (data, type, row) => {
					return '<a href="/delete/home/' + row.id + '" data-id="' + row.id + '" class="btn btn-sm btn-default" id="deleteBtn"  data-toggle="modal" data-target="#deleteModal"><i class="fa fa-trash" title="Delete" style="color:red;"/></a>';
				}

			}

		]
    });

	$("#addFrom").on('submit', function (event) {
		event.preventDefault();

		$.ajax({


			type: "POST",
			url: "/home/save",
			data: $('#addFrom').serialize(),
			beforeSend: function () {
				$('#add').val("Inserting...");
			},
			success: function (res) {

				$('#addFrom')[0].reset();
				$('#addModal').modal('hide');
				$('#add').val("Add");
				$.notify("Data Saved Successfully", {
					globalPosition: 'top center',
					className: 'success'
				});

				$('#myTable').DataTable().ajax.reload(null, false);



			}

		});
	});




	$('body').on('click', '#editBtn', function () {
		$('#eid').val($(this).attr('data-id'));
		$('#ename').val($(this).attr('data-name'));
		$('#ebrand').val($(this).attr('data-brand'));
		$('#emadein').val($(this).attr('data-madein'));
		$('#eprice').val($(this).attr('data-price'));
		$('#editModal').modal('show');

	});

		$('#editFrom').on("submit", function (event) {
		event.preventDefault();
		$.ajax({
			type: "PUT",
			url: "/home/edit",
			data: $('#editFrom').serialize(),
			beforeSend: function () {
				$('#edit').val("Editting...");
			},
			success: function (res) {
				console.log(res);
				$('#editFrom')[0].reset();
				$('#editModal').modal('hide');
				$('#edit').val("Edit");
				$.notify("Data Edited Successfully", {
					globalPosition: 'top center',
					className: 'success'
				});
				$('#myTable').DataTable().ajax.reload(null, false);

			}

		});

	});

	$('body').on('click', '#deleteBtn', function () {

		$('#delete_id').val($(this).attr('data-id'));
		$('#deleteModal').modal('show');

	});

	$('#deleteFrom').on("submit", function (event) {
		event.preventDefault();
		$.ajax({
			type: "DELETE",
			url: "/home/delete",
			data: $('#deleteFrom').serialize(),
			beforeSend: function () {
				$('#delete').val("deleting...");
			},
			success: function (res) {
				console.log(res);
				$('#deleteFrom')[0].reset();
				$('#deleteModal').modal('hide');
				$('#delete').val("Delete");
				$.notify(res, {
					globalPosition: 'top center',
					className: 'success'
				});
				$('#myTable').DataTable().ajax.reload(null, false);

			}

		});

	});

	$('body').on('click', '#viewBtn', function () {
		var table = $('#myTable').DataTable();
		var data_id=$(this).attr('data-id');
		var data_name=$(this).attr('data-name');
		var data_brand=$(this).attr('data-brand');
		var data_madein=$(this).attr('data-madein');
		var data_price=$(this).attr('data-price');

		$('#vid').text(data_id.length >10 ? data_id.substring(0,10) + "..." : data_id);
		console.log($('#vid').val());
		$('#vname').text(data_name.length >10 ? data_name.substring(0,10) + "..." : data_name);
		$('#vbrand').text(data_brand.length >10 ? data_brand.substring(0,10) + "..." : data_brand);
		$('#vmadein').text(data_madein.length >10 ? data_madein.substring(0,10) + "..." : data_madein);
		$('#vprice').text(data_price.length >10 ? data_price.substring(0,10) + "..." : data_price);
		$('#viewModal').modal('show');

	});

} );

</script>
</body>
</html>





